/* Sizes */

$width: 1040px;
$wrapper: 1040px;
$wrapper_smaller: 960px;
$wrapper_small: 720px;

$small: 14;
$smaller: 16;
$regular: 18;
$larger: 22;
$large: 26;

$headline-1: 52;
$headline-2: 36;
$headline-3: 24;
$headline-1-mobile: 44;
$headline-2-mobile: 28;
$headline-3-mobile: 20;

$radius: 2px;

/* Colors */

$black: #000;
$black-1: #202124;
$black-2: #222;
$grey: lighten($black, 60%);
$light: lighten($black, 98%);
$line: lighten($black, 90%);
$red: #FF4847;
$primary: $red;

$facebook: #3B5998;
$google: #d64937;
$linkedin: #0073b2;
$twitter: #55acee;
$weibo: #E6132D;
$hn: #FF4F01;

/* Fonts */
$headline: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$body: $headline;
$code: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;

/* Misc */

$container: 1440px;
$container-large: 1264px;

/* Responsive */

$breakpoints: (
  tablet: 960px,
  desktop: 1024px,
  highres: 1280px
);

/* Partials */

$partials: (
  base,
  layout
);
