/**
 * Front page
 */
body.page-front {
  #clients {
    @include breakpoint(mobile) {
      ul {
        border-bottom: 1px solid $line;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          border-top: 1px solid $line;
          margin: 0;
          padding: $space 0;
          &:nth-of-type(1n+5) {
            display: none;
          }
          a {
            color: inherit;
            svg {
              fill: $black;
              float: left;
              margin: (-$space/2) $space/4 (-$space/2) 0;
              transition-duration: $ease;
              transition-property: fill;
              width: 3*$space;
            }
            .content {
              color: inherit;
              margin-left: 3*$space + $space/4;
              h3 {
                margin: 0;
                transition-duration: $ease;
                transition-property: color;
              }
              .meta {
                color: $grey;
              }
            }
            &:hover {
              svg {
                fill: red;
              }
              .content h3 {
                color: $red;
              }
            }
          }
        }
      }
    }
    @include breakpoint(tablet) {
      border: 1px solid $line;
      border-width: 1px 0;
      text-align: center;
      ul {
        @include grid(4);
        li {
          position: relative;
          a {
            display: block;
            svg {
              fill: $black;
              margin: $space;
              max-width: 6*$space;
              opacity: 1;
              transition-duration: $ease;
              transition-property: fill, opacity, transform, visibility;
              visibility: visibile;
            }
            .content {
              box-sizing: border-box;
              display: block;
              left: 50%;
              opacity: 0;
              padding: $space;
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%) scale(0.5);
              transition-duration: $ease;
              transition-property: opacity, transform, visibility;
              visibility: hidden;
              width: 100%;
              h3 {
                // color: $red;
                margin: 0;
              }
              .meta {
                color: $grey;
              }
            }
            &:hover {
              &:not([href]) {
                cursor: auto;
              }
              svg {
                opacity: 0;
                transform: scale(0.5);
                visibility: hidden;
              }
              .content {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}

/**
 * Contact page
 */
body.page-contact {
  .grid-2 li {
    @include clearfix;
    img {
      float: left;
      height: 3*$space;
    }
    .content {
      margin-left: 3*$space + $space/2;
      h3 {
        font-size: inherit;
        margin: 0;
      }
    }
  }
}

/**
 * Blog post page
 */
body.type-posts {
  #content {
    .body {
      .left {
        @include breakpoint(up_to_desktop) {
          margin-top: 2*$space;
        }
        .card {
          border: 1px solid $line;
          border-width: 1px 0;
          box-sizing: border-box;
          @include clearfix;
          margin-bottom: $space/2;
          padding: 1.5*$space/2 0;
        }
        .social {
          margin-top: 1.5*$space;
          .button {
            float: left;
            &:first-child {
              margin-right: $space/2;
            }
          }
        }
        // .share {
        //   .button {
        //     &.facebook {
        //       border-color: $facebook;
        //       color: $facebook;
        //       &:hover {
        //         background-color: $facebook;
        //         color: #FFF;
        //       }
        //     }
        //     &.google {
        //       border-color: $google;
        //       color: $google;
        //       &:hover {
        //         background-color: $google;
        //         color: #FFF;
        //       }
        //     }
        //     &.hn {
        //       border-color: $hn;
        //       color: $hn;
        //       &:hover {
        //         background-color: $hn;
        //         color: #FFF;
        //       }
        //     }
        //     &.linkedin {
        //       border-color: $linkedin;
        //       color: $linkedin;
        //       &:hover {
        //         background-color: $linkedin;
        //         color: #FFF;
        //       }
        //     }
        //     &.twitter {
        //       border-color: $twitter;
        //       color: $twitter;
        //       &:hover {
        //         background-color: $twitter;
        //         color: #FFF;
        //       }
        //     }
        //     &.weibo {
        //       border-color: $weibo;
        //       color: $weibo;
        //       &:hover {
        //         background-color: $weibo;
        //         color: #FFF;
        //       }
        //     }
        //   }
        // }
      }
      .testimony {
        margin: 2*$space $space;
        .avatar {
          float: left;
          height: 4*$space;
        }
        .content {
          margin-left: 4*$space + $space/2;
        }
        blockquote {
          border: 0;
          @include font-size($larger);
          font-style: italic;
          line-height: 160%;
          margin: 0;
          margin-bottom: $space;
          padding: 0;
        }
      }
    }
  }
}

/**
 * About page
 */
body.page-about {
  #staff .grid {
    border-top: 1px solid $line;
  }
  .card {
    border-bottom: 1px solid $line;
    padding: 1.5*$space/2 0;
  }
}

/**
 * Case study page
 */
body.type-work {
  #content {
    .body {
      .left {
        .card {
          border: 1px solid $line;
          border-width: 1px 0;
          box-sizing: border-box;
          @include clearfix;
          margin-bottom: $space/2;
          padding: 1.5*$space/2 0;
        }
      }
    }
  }
}

/**
 * Event page
 */
body.page-events {
  #content {
    .h-event {
       abbr,
       time {
         font-weight: 500;
         text-decoration: none;
       }
     }
     .about {
       @include breakpoint(mobile) { padding: $space 0; }
       @include breakpoint(only_tablet) { padding: 0 3*$space/2; }
       padding: 3*$space/2 4*$space;
     }
     .cover.three-by-one {
       height: 0;
       @include breakpoint(mobile) { padding-bottom: 80%; }
       @include breakpoint(tablet) { padding-bottom: 32%; }
     }
     li {
       margin: 5*$space/2 auto;
       @include breakpoint(mobile) { margin: $space auto; }
     }
     ul.events {
       margin: $space auto;
     }
   }
   #current,
   #past {
     margin: 3*$space/2 auto;
   }
   #past {
     .grid-3.padded {
       margin: -24px;
       & > * {
         padding: $space;
         margin: $space auto;
         @include breakpoint(mobile) { margin: $space/2 auto; }
       }
     }
   }
 }
