body.with-overlay {
  overflow: hidden;
}

.overlay {
  background: #FFF;
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: auto;
  @include breakpoint(mobile) {
    padding: $space;
  }
  @include breakpoint(tablet) {
    padding: 1.5*$space;
  }
  position: fixed;
  right: 0;
  text-align: left;
  top: 0;
  transform: scale(1.4);
  transition-duration: $ease/2;
  transition-property: opacity, transform, visibility;
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 999;
  &.active {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
  .header {
    @include clearfix;
    margin-bottom: $space;
  }
  .close {
    color: $grey;
    float: right;
    svg {
      fill: $grey;
      transition-duration: $ease;
      transition-property: fill;
    }
    &:hover {
      color: $black;
      svg {
        fill: $black;
      }
    }
  }
  .body {
    margin: 0 auto;
    max-width: $wrapper_small;
  }
  &.red {
    background: linear-gradient(rgba($red, 1), rgba($red, 0.96), rgba($red, 0.86));
    color: #FFF;
    .close {
      svg {
        fill: rgba(#FFF, 0.6);
      }
      &:hover {
        svg {
          fill: rgba(#FFF, 1);
        }
      }
    }
    h2 {
      color: inherit;
    }
    input[type=email],
    input[type=password],
    input[type=text],
    input[type=number],
    textarea,
    .select select {
      border-color: rgba(#FFF, 0.6);
      &:hover,
      &:active,
      &:focus {
        border-color: rgba(#FFF, 1);
      }
    }
    input[type=checkbox] {
      &:checked {
        & + span {
          &:before {
            background-color: transparent;
            background-image: url('data:image/svg+xml;utf8,<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Button/toggle/checked" transform="translate(-13.000000, -13.000000)"><g id="Buttons/checked"><rect id="Bounds" fill="#FF0000" opacity="0" x="0" y="0" width="50" height="50"></rect><g id="Group-2" transform="translate(9.000000, 9.000000)"><g id="icon/done_light" transform="translate(5.000000, 4.000000)"><rect id="Bounds" fill="#FF0000" opacity="0" x="0" y="0" width="24" height="24"></rect><polyline id="Path-7" stroke="#FFFFFF" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" points="19.8744825 6.48266282 8.21860862 18.5698506 3.73398137 13.6064474"></polyline></g></g></g></g></g></svg>');
          }
        }
      }
      & + span {
        &:before {
          background-image: none;
          border-color: rgba(#FFF, 0.6);
        }
        &:hover {
          &:before {
            border-color: rgba(#FFF, 1);
          }
        }
      }
    }
    .button {
      border-color: #FFF;
      color: #FFF;
      &:hover {
        background: #FFF;
        color: $red;
      }
    }
  }
}
