---
layout: default
---

<article
  class="post container padding-top"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="row header">
    <div class="right">
      <h1 class="post-title p-name" itemprop="name headline">
        {{ page.title | escape }}
      </h1>
    </div>
  </header>
  <div class="row">
    <div class="left">
      <p>
        <time
          datetime="{{ page.date | date_to_xmlschema }}"
          itemprop="datePublished"
        >
          {%- assign date_format = site.minima.date_format | default: "%b %-d,
          %Y" -%} {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%} •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"
          ><span class="p-author h-card" itemprop="name">{{
            page.author
          }}</span></span
        >
        {%- endif -%}
      </p>
    </div>
    <div class="right">
      <div itemprop="articleBody">{{ content }}</div>
    </div>
  </div>
</article>
